__pycache__
*.log
tmp/
.cache
.idea
.vscode
.cproject
.project
.ccls-cache
*.png
*.mp4
*.ipynb
*.el
*.out
*.un~
*.h5
result*
build*
doc
doxygen
sphinx
bin
Data
ninja
compile_commands.json
.cquery_cached_index
aperture
delrun
*.nvvp
GPATH
GRTAGS
GTAGS
ID
src_*
Doxyfile
/tests/hip_atomic_add.hip.cpp
/tests/hip_const_mem.cpp
/tests/hip_const_mem.h
/tests/hip_const_mem_main.cpp
/tests/hip_cuda
/tests/hip_device_prop
/tests/hip_device_properties.hip.cpp
/tests/hip_test
/tests/hip_test.cpp
/tests/hip_test.cu
/tests/mem_layout_bak.cpp
/tests/perf_ptc_update_zorder.cpp
/tests/playground.cpp
/tests/test.cu
/tests/test_const_mem.hip.cpp
/tests/test_di.cpp
/tests/test_new_index.cpp
/tests/test_template.cpp
/env/
/.ignore
/.clang-tidy
/data

# vim files
*.swp
.aider*
